/*
    Mobile Menu Core Style
*/

.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em;}
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block }
.slicknav_nav a { display: block }


.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }

/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_nav, .slicknav_nav ul {    
    overflow:hidden;
}

.slicknav_nav a{

    text-decoration:none;
    color:#fff;
}

.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}
